In [2]:
import pandas as pd
import numpy as np

In [25]:
df_contracts = pd.read_csv('data-source/contracts.csv', usecols=['commodity', 'contract', 'expiry_date'])
df_fut = pd.read_excel('data-source/und-fut.xlsx', usecols=['commodity', 'contract', 'date', 'future_price'])
df_opt = pd.read_csv('data-source/option-price.csv', usecols=['commodity', 'contract', 'date', 'put_or_call', 'strike_value', 'settle_price'])
df_fut['date'] = df_fut['date'].dt.strftime('%Y-%m-%d')

In [26]:
df_opt = pd.merge(df_opt, df_contracts, how='left', left_on=['commodity', 'contract'], right_on=['commodity', 'contract'])
df_opt = pd.merge(df_opt, df_fut, how='left', left_on=['commodity', 'contract', 'date'], right_on=['commodity', 'contract', 'date'])
days_to_mat = (pd.to_datetime(df_opt['expiry_date']) - pd.to_datetime(df_opt['date'])).dt.days.values
tenor = (days_to_mat + 1) / 365.25
df_opt['days_to_mat'] = days_to_mat
df_opt['tenor'] = tenor
df_opt = df_opt.dropna(axis=0, how='any')
df_opt['date'] = pd.to_datetime(df_opt['date'])

In [42]:
temp_df = df_opt.drop_duplicates(['commodity', 'contract', 'date'])
temp_df = temp_df[['commodity', 'contract', 'date', 'future_price']]
temp_df.head()

   commodity contract       date  future_price
0         SB      N20 2020-01-02         13.70
13        SB      H20 2020-01-02         13.54
23        SB      K20 2020-01-02         13.63
35        SB      V20 2020-01-02         13.88
55        KC      Z20 2020-01-02        137.00

In [43]:
commodities = list(temp_df.commodity.unique())
commodities

['SB', 'KC', 'S', 'C']

In [58]:
vol_df = pd.DataFrame(data={'commodity': [], 'contract': [],
                            'contract': [], 'date': []}) 

for comm in commodities:
    temp = temp_df[temp_df['commodity'] == comm]
    maturities = list(temp_df.contract.unique())
    for mat in maturities:
        temp2 = temp[temp['contract'] == mat].sort_values('date')
        vol = temp2['future_price'].pct_change().rolling(20).std()*(252**0.5)
        new_df = pd.DataFrame(data={'commodity': temp2['commodity'].values,
                                       'contract': temp2['contract'].values,
                                       'date': temp2['date'].values,
                                       'vol': vol})
        if not new_df.empty:
            vol_df = vol_df.append(new_df)

In [61]:
df_opt = pd.merge(df_opt, vol_df, how='left', left_on=['commodity', 'contract', 'date'], right_on=['commodity', 'contract', 'date'])
df_opt = df_opt.dropna(axis=0, how='any')
df_opt

,commodity,contract,date,put_or_call,strike_value,settle_price,expiry_date,future_price,days_to_mat,tenor,vol
4257,SB,N20,2020-02-17,1.0,14.50,0.67,2020-06-15,14.48,119.0,0.328542,0.072849
4260,SB,N20,2020-02-17,1.0,14.75,0.57,2020-06-15,14.48,119.0,0.328542,0.072849
4263,SB,N20,2020-02-17,1.0,15.00,0.48,2020-06-15,14.48,119.0,0.328542,0.072849
4266,SB,N20,2020-02-17,1.0,15.25,0.40,2020-06-15,14.48,119.0,0.328542,0.072849
4269,SB,N20,2020-02-17,1.0,15.50,0.34,2020-06-15,14.48,119.0,0.328542,0.072849
...,...,...,...,...,...,...,...,...,...,...,...
33280,KC,U20,2020-07-31,0.0,107.50,0.50,2020-08-14,118.95,14.0,0.041068,0.404176
33281,KC,U20,2020-07-31,0.0,110.00,0.81,2020-08-14,118.95,14.0,0.041068,0.404176
33282,KC,U20,2020-07-31,0.0,112.50,1.30,2020-08-14,118.95,14.0,0.041068,0.404176
33283,KC,U20,2020-07-31,0.0,115.00,2.03,2020-08-14,118.95,14.0,0.041068,0.404176
33284,KC,U20,2020-07-31,0.0,117.50,3.05,2020-08-14,118.95,14.0,0.041068,0.404176

In [62]:
df_opt[df_opt['commodity']=='SB']

,commodity,contract,date,put_or_call,strike_value,settle_price,expiry_date,future_price,days_to_mat,tenor,vol
4257,SB,N20,2020-02-17,1.0,14.50,0.67,2020-06-15,14.48,119.0,0.328542,0.072849
4260,SB,N20,2020-02-17,1.0,14.75,0.57,2020-06-15,14.48,119.0,0.328542,0.072849
4263,SB,N20,2020-02-17,1.0,15.00,0.48,2020-06-15,14.48,119.0,0.328542,0.072849
4266,SB,N20,2020-02-17,1.0,15.25,0.40,2020-06-15,14.48,119.0,0.328542,0.072849
4269,SB,N20,2020-02-17,1.0,15.50,0.34,2020-06-15,14.48,119.0,0.328542,0.072849
...,...,...,...,...,...,...,...,...,...,...,...
33212,SB,V20,2020-07-31,0.0,11.25,0.09,2020-09-15,12.64,46.0,0.128679,0.368203
33213,SB,V20,2020-07-31,0.0,11.75,0.18,2020-09-15,12.64,46.0,0.128679,0.368203
33214,SB,V20,2020-07-31,0.0,12.00,0.24,2020-09-15,12.64,46.0,0.128679,0.368203
33215,SB,V20,2020-07-31,0.0,12.25,0.33,2020-09-15,12.64,46.0,0.128679,0.368203
33216,SB,V20,2020-07-31,0.0,12.50,0.43,2020-09-15,12.64,46.0,0.128679,0.368203